## Download Google Translate

In [1]:
!pip install googletrans==4.0.0-rc1

## Load parsed data

In [1]:
import pandas as pd

news = pd.read_excel('news_data.xlsx')

news

,article,text,language
0,الحرب على غزة مباشر.. قصف إسرائيلي مدمر يوقع ع...,في اليوم الـ56 من الحرب على غزة، استأنفت إسرائ...,ar
1,الحرب على غزة مباشر.. قصف إسرائيلي مدمر يوقع ع...,في اليوم الـ56 من الحرب على غزة، استأنفت إسرائ...,ar
2,عشرات الشهداء والجرحى في غارات إسرائيلية على غ...,سقط عشرات الفلسطينيين بين شهيد ومصاب في غارات ...,ar
3,نتنياهو: إسرائيل ملتزمة بتحقيق أهدافها بغزة مع...,قال رئيس الوزراء الإسرائيلي بنيامين نتنياهو إن...,ar
4,أولمرت: على إسرائيل أن تستعين بقوات من الناتو ...,طرح رئيس الوزراء الإسرائيلي السابق إيهود أولمر...,ar
...,...,...,...
339,"Nicaragua : Miss Univers 2023, symbole de beau...",Le monde est à nous Isabelle Labeyrie et La ré...,fr
340,"ÉDITO. COP 28 : en France comme ailleurs, les ...",La Cop 28 s’est ouverte jeudi 30 novembre à Du...,fr
341,Élections européennes : l'écologiste Marie Tou...,À un peu plus de six mois des élections europé...,fr
342,Procès Bygmalion : un an de prison avec sursis...,"En première instance, en septembre 2021, l'ex-...",fr
343,Mort de Henry Kissinger : l'incarnation du rêv...,Henry Kissinger est décédé le mercredi 29 nove...,fr

## Truncate text

In [2]:
def truncate_to_50_words(text):
    words = text.split()  
    truncated_text = ' '.join(words[:50]) 
    return truncated_text

In [4]:
for i in range(len(news)):
    news['text'][i] = truncate_to_50_words(news['text'][i])

## Translate

In [5]:
from googletrans import Translator

def translate_to_russian(text, src_lang):
    translator = Translator()
    translated_text = translator.translate(text, src=src_lang, dest='ru')
    return translated_text.text

In [6]:
source_text = []
source_lang = []
translated_text = []

for i in range(len(news)):
    try:    
         translated_text.append(translate_to_russian(news['text'][i], news['language'][i]))
         source_text.append(news['text'][i])
         source_lang.append(news['language'][i])
    except:
         continue

In [7]:
df = pd.DataFrame(list(zip(source_text, source_lang, translated_text)), columns =['text', 'language', 'translation'])

In [9]:
df.to_excel('translated_news_data.xlsx', index=False)